* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-image: url("./Bg-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 10%;
}
.section-left {
    width: 8%;
    height: 100vh;
    border-right: 1px solid #d2d2d2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hide-icon {
    width: 100%;
    height: 15vh;
    opacity: 0.8;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 3em;
}
.hide-icon-line1{
    width: 1.5rem;
    border-radius: 0.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
}
.hide-icon-line2 {
    width: 1rem;
    border-radius: 0.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin-bottom: 0.3rem;
}
.hide-icon-line3 {
    width: 0.5rem;
    border-radius: 0.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin-bottom: 0.3rem;
}
.lang {
    display: flex;
    position: relative;
    bottom: 80px;
    transform: rotate(270deg);
    column-gap: 1.5rem;
}
.lang-icon {
    text-decoration: none;
    color: azure;
    letter-spacing: 0.1rem;
    opacity: 0.8;
}
.header-window {
    display: flex;
}
.window-left {
    width: 100%;
    max-height: 30vh;
}
.section-right {
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    width: 100%;
    position: right;
    height: 30vh;
    display: block;
}
.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5% 5%;
    font-weight: bold;
}
.header-logo  {
    text-decoration: none;
    color: #f5f5f8;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-shadow: 5px 5px 15px #aaa;
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
}
.nav-item {
    color: #f5f5f8;
    text-shadow: 5px 5px 15px #aaa;
    text-decoration: none;
}
.underlined::after {
    content: '';
    position: relative;
    display: block;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3rem;
    border-bottom: 2px solid #f5f5f8 ;
}
.center {
    color: #fff;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center-left__index {
    letter-spacing: 0.2rem;
}
.center-left__index::before {
    content: '';
    position: relative;
    display: block;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 13rem;
    border-bottom: 2px solid #f5f5f8 ;
}
.center-left__title {
    margin: 1rem 0;
    font-size: 2rem;
}
.center-left__subtitle {
    opacity: 0.5;
    margin: 0.5rem 0;
}
.right {
    width: 50%;
    padding-left: 10%;
}
.right-title {
    font-size: 3rem;
    font-style: bold;
}
.down {
    width: 92%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(37, 32, 32, 0.548);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.boxes {
    width: 25%;
    height: 100%;
    color: #fff;
}
.box-title {
    padding: 5% 0 5% 20%;
}
.box-subtitle {
    padding: 30% 0 5% 20%;
}
.box-subtitle2 {
    padding: 0 0 5% 20%;
    font-weight: bold;
}
.higher{
    padding-top: 10%;
}
.bag {
    background-image: url("./Amazing\ Backpacks\ for\ Men.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 992px){
    .header-window {
      width: 100%;
    }
    @media (min-width: 768px) and 
           (max-width: 991px){
             .header-window {
               width: 460px;
             }
           }
  }
  @media (max-width: 767px){
    .header-window {
      width: 100vw;
    }
    .right{
        visibility: hidden;
    }

  }
